@use "sass:color";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-var.woff2') format('woff2');
  font-style: normal;
  font-weight: 1 999;
  font-display: swap;
}

$accent-color: #6075af;
$accent-color-alt: #b15c83;
$button-accent-color: color.scale($accent-color, $lightness: -5%, $saturation: -5%);
$warning-color: #e07785;

:root {
  font-size: 14px;
  --accent-color: #{$accent-color};
  --accent-color-alt: #{$accent-color-alt};
  --warning-color: #{$warning-color};
  --background-color: #181818;
  --text-color: white;
  --text-accent-color: #{color.scale($accent-color, $lightness: 25%, $saturation: 20%)};
  --text-accent-color-alt: #{color.scale($accent-color-alt, $lightness: 25%, $saturation: 20%)};
  --divider-color: rgba(255, 255, 255, 0.1);
  --grid-color: rgba(255, 255, 255, 0.1);
  --focus-color: rgba(255, 255, 255, 0.75);
  --button-highlight-color: rgba(255, 255, 255, 0.1);
  --button-accent-color: #{$button-accent-color};
  --button-accent-color-alt: #{color.scale($accent-color-alt, $lightness: -5%, $saturation: -5%)};
  --button-warning-color: #{color.scale($warning-color, $lightness: -30%, $saturation: -40%)};
  --nav-color: #{color.adjust($button-accent-color, $alpha: -0.875)};
  --button-color: rgba(255, 255, 255, 0.06);
}

html,
body {
  height: 100%;
  padding: 0.25rem;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-tap-highlight-color: transparent;

  :focus {      
    outline: none;
    box-shadow: 0 0 0 2px var(--focus-color);
    &:not(:focus-visible) {
      outline: none;
      box-shadow: none;
    }
  }

  div:focus {
    outline: none;
    box-shadow: none;
  }

  ::selection {
    background-color: rgba(255, 255, 255, 0.3);
  }

  cursor: default;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes pulse {
  0%    { opacity: 0.1; }
  50%   { opacity: 1; }
  100%  { opacity: 0.1; }
}