:root {
  font-size: 14px;
  --background-color: #181818;
  --text-color: white;
  --button-color: hsla(0, 0%, 100%, 0.06);
  --button-highlight-color: hsla(0, 0%, 100%, 0.08);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}